//
//  Production.xcconfig
//  FlickrImageViewer
//
//  Created by Tran To on 9/8/20.
//  Copyright © 2020 Tran To. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

APP_NAME = $(inherited) BETA

BASE_URL = $(inherited)

FLICKR_API_KEY = $(inherited)
